<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>POST</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app-vue">
      <div class="users">
        <button class="btn btn-primary" @click="fetchUsers">
          Fetch Users
        </button>

        <input
          class="add-search-input"
          type="text"
          v-model="newUser"
          @keyup.enter="addUser"
          placeholder="Add Users"
        >
        <div>
          <p v-if="submitting">Submitting...</p>
          <p v-if="loading">Loading...</p>
          <table class="border-collapse border-2 border-gray-500">
            <thead>
              <tr>
                <th class="border border-gray-400 px-4 py-2 text-gray-800">Id</th>
                <th class="border border-gray-400 px-4 py-2 text-gray-800">Name</th>

              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users">
                <td class="border border-gray-400 px-4 py-2"> {{ user.id }}</td>
                <td class="border px-4 py-2">
                  <span v-if="!user.isEdit">{{user.name}}</span>
                   <span v-if="user.isEdit"><input type="text" placeholder="user name" v-model="updateUser" @keyup.enter="saveTask(users)"
                   ></span>
              </td>
               <td><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @click="showEditInput(user)" @keyup.enter="saveTask(users)">Edit</button></td>


              </tr>

            <tbody>
          </table>

          <!-- <ul>
            <li v-for="user in users">
              {{ user.name }} - {{ user.id }}
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
