#app-vue {
  display: flex;
  justify-content: center;
}

.users {
  width: 50%;
  flex-direction: column;
  padding: 20px;
  margin: 10%;
}

.add-search-input {
  margin-top: 10px;
}

li {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}